/* Header video */
header {
    position: relative;
    background-color: black;
    height: 70vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;  
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);    
  }
  .texto-video {
    color: #F3EFF5;
    font: size 5px;
    
  }
  .display-3 {
    color: #e5e2e7;
    font: size 60px;
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('../img/servicios/MacBook\ Pro\ 16-min\ \(2\).png') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  header p {
    font-weight: 500;
    color: white;
}

   /* Globales  */

   body {
       background-color: #F3EFF5;
   }
   section{
       background-color: #F3EFF5;
   }
   article {
    background-color: #F3EFF5;
   }
   h3{
       color: #0D1F2D;
   }
   h4{
     text-align: center;
     color: #0D1F2D;
   }
   p{
       color: #0D1F2D;
   }
   

   /*  Paginas servicios */

   img {
       max-width: 100%;
   }
   .letrero {
     margin: 20px;
     background-color: white;
     width: 210px;
   }
   .letrero p{
    text-align: center;
   }
   .letrero img{
     max-width: 40%;
   }
   .ordena{
    background-color: #0D1F2D;     
    min-height: 700px; 
   }
   .ordena h3{
    color: #F3EFF5;
    font-size: 50px;
   }
   .ordena p{
    color: #F3EFF5;
   }
   .ordena .btn {
     background-color: #F3EFF5;
   }
   .posicion img{
     width: 400px;
   }
   
   .posicion2 img{
    width: 400px;
  }
  .posicion3 img{
    width: 400px;
  }
  @media only screen and (max-width:992px) {
    .posicion img{
      width: 200px;
    }
    .posicion2 img{
      width: 200px;
    }
    .posicion3 img{
      width: 200px;
    }
   }
   @media only screen and (max-width:512px) {
    .posicion img{
      display: none;
    }
   
   }
   .posicion {
     top: 0;
     right: 50px;
   }
   .posicion2 {
    bottom: 500px;
    left: 100px;
  }
  .posicion3 {
    right: 100px;
    bottom: 50px;
  }
  .ventas {
    background-color: #F3EFF5;
    max-width: 410px;
    min-width: 410px;
  }
   .ventas h4{
    color: #0D1F2D;
    font-size: 40px;
   }
   .ventas p{
    color: #0D1F2D;
   }
   .ventas p strong{
    color: #0D1F2D;
    font-size: 35px;
   }
   .ventas .btn {
     background-color: #0D1F2D;
     color: #F3EFF5;
   }
   .precios-img img{
    height: 150px;
   }